body{
    margin-left: 50px;
}
section{
    margin-bottom: 10px;
}
.stats, .bugname{
    font-size: 18pt;
}
.bugname{
    cursor: pointer;
}
.closed{
    color : red;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
}
ol{
    list-style: none;
    width : 500px;
    -webkit-padding-start: 0px;
}
li{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    border : 2px solid gray;
}